html,
body,
#root,
.cover {
  height: 100%;
}
.blockquote {
  border-radius: 5px;
  font-family: "Kavivanar", cursive;
  color: red;
}
.error {
  border-radius: 5px;
  font-family: "Syncopate", sans-serif;
}
.btn-outline-secondary {
  background-color: #fff;
}

.quoteButton {
  padding: 0.5rem 1rem;
  background-color: aquamarine;
  font-size: 2rem;
  margin: 1rem;
  border-radius: 10px;
}